<section class="get">
    <h3>Get Data</h3>
    <a href="/get-data">LOAD DATA</a>
    <div>
        {{# each items }}
            <article class="item">
                <div>username: {{ this.username }}</div>
                <div>password: {{ this.password }}</div>
                <div>meme_author: {{ this.meme_author }}</div>
                    <form action="upload.php" method="post" enctype="multipart/form-data">
                        Select image to upload:
                        <input type="file" name="fileToUpload" id="fileToUpload">
                        <input type="submit" value="Upload Image" name="submit">
                    </form>
                <div>ID: {{ this._id }}</div>
            </article>
        {{/each}}
    </div>
</section>